doctype html
html
   head
      link(rel="stylesheet" href="/style.css")
      title = name
   body
      include ./nav-link.pug
      br
      br
      h1.w3-center SERVICES AUTOMOBILES GARAGE AUTO-MOTO
      #about.w3-row.w3-padding-64
       .w3-col.m6.w3-padding-large.w3-hide-small
           img.w3-round.w3-image.w3-opacity-min(src='http://reseaupmeweb.com/vizeo-irin/test/media/c70f1-tire-114259_1920.jpg' alt='Auto-moto' width='600' height='850')
       .w3-col.m6.w3-padding-large
           h1.w3-center About Auto-Moto
           br
           h5.w3-center Since 2000
           p.w3-large
             | Auto-Moto Pneus et Mécanique à Ariana (Tunisie) offre un service à la clientèle hors du commun depuis 2000. Profitez de l'expertise de l'équipe familiale de Ahmed et Mohamed pour l'analyse, la réparation et l'entretien de votre automobile.
           p.w3-large.w3-text-grey.w3-hide-medium
             | Nous entretenons et réparons votre automobile ou camion léger selon les recommandations des manufacturiers et nous garantissons le travail et les pièces installées.
             | Notre garage AutoPLACE est équipé avec les outils les plus récents afin d'effectuer des réparations de mécanique américaine, mécanique asiatique et mécanique européenne.
      hr
      include ./information.pug