.w3-top
  .w3-bar.w3-white.w3-padding.w3-card(style='letter-spacing:4px;')
    a.w3-bar-item.w3-button(href='/') Auto-Moto
    // Right-sided navbar links. Hide them on small screens
    .w3-right.w3-hide-small
      a.w3-bar-item.w3-button(href='/') Home
      a.w3-bar-item.w3-button(href='/service') Our services
      a.w3-bar-item.w3-button(href='/contact') Contact us
