doctype html
html
   head
      link(rel="stylesheet" href="/style.css")
      title=title
   body
      include ./nav-link.pug
      #menu.w3-row.w3-padding-64
        .w3-col.l6.w3-padding-large
            h1.w3-center Our Services
            br
            h4 Mécanique générale
            p.w3-text-grey Fiez-vous à des professionnels pour les réparations sur votre véhicule. Avec notre souci du détail, nous effectuons des réparations en mécanique américaine, asiatique et européenne
            br
            h4 Entretiens préventifs recommandés
            p.w3-text-grey Nous respectons les normes des manufacturiers automobiles et vous proposons les entretiens recommandés par les fabricants.
            br
            h4 Alignement des roues
            p.w3-text-grey Demandez un alignement de vos roues après tout accident ou si vous constatez une usure anormale de vos pneus. Il est fortement possible que l'ajustement du parallélisme des roues soit essentiel après une réparation de la suspension ou de la direction. Faites vérifier le parallélisme des roues de votre véhicule au moins 1an/25 000km.
            br
            h4 Analyse de moteur et d'éléctricité
            p.w3-text-grey Les voyants lumineux de tableau de bord sont de plus en plus nombreux sur les véhicules modernes. L'équipe Auto-Moto possède des équipements à la fine pointe de la technologie afin de diagnostiquer les bris d'injection, d'électronique, d'électricité, de coussins gonflables et d'ordinateur sur votre automobile ou camion léger.
            br
            h4 Pièces automobiles de qualité
            p.w3-text-grey Auto-Moto est un détaillant de pièces de première qualité pour automobiles et camions légers. Si vous souhaitez obtenir des pièces usagées ou reconstruites, Autot-Moto peut vous conseiller dans le choix de vos pièces automobiles.
        .w3-col.l6.w3-padding-large
            br
            img.w3-round.w3-image.w3-opacity-min(src='https://www.capcar.fr/wp-content/uploads/entretien-voiture.jpg' alt='service' style='height:800px;width:100%')
        hr
      include ./information.pug